<section>
    <div class="container mt-2">
        <div class="row">
            {{#each products}}
            {{#each this}}
            {{#if this.name}}
            <div class="col-md-3">
                <div class="card p-2" style="width: 15rem; height: 24rem;">
                    <img class="card-img-top" src="/product-images/{{this._id}}.jpg" alt="Card image cap"
                        style="height: 12rem;">
                    {{!-- <img class="card-img-top" src="{{this.id}}" alt="Card image cap" style="height: 12rem;"> --}}
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.price}}</p>
                        <a href="/add-to-cart/{{this._id}}" class="btn btn-primary"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-cart" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg> add to cart</a>
                        {{!-- <button onclick="addToCart('{{this._id}}')" class="btn btn-success">Add to cart</button>
                        --}}
                    </div>
                </div>
            </div>
            {{/if}}
            {{/each}}
            {{/each}}

        </div>

    </div>

</section>